---
layout: default
bodyClass: "page-posts"
---

<!--<div class="container" style="align-content: center;">
    {% if page.intro_image %}
    <div class="row">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
    </div>
    {% endif %}

</div>-->

<div class="container">
    <div class="row">
        <div class="content">{{content}}</div>
    </div>
</div>


<style>
    .collapsible {
        background-color: rgb(237, 193, 22);
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }



    .contentHidden {
        padding: 0 18px;
        display: none;
        overflow: hidden;
    }
</style>


<div class="container pt-6 pb-6">
    <div class="row">
        {% assign postsByTags = site.posts | group_by:"tag" | sort: "date" | reverse %}
        {% for postByTag in postsByTags %}
        <div class="post-content" style="width:100%">
            <button type="button" class="collapsible">
                {{ postByTag.name }}
            </button>
            <div class="contentHidden">
                <div class="row">
                    {% for post in postByTag.items %}
                    <div class="col-12 col-md-6 mb-3">
                        <div class="post service-summary">
                            <div class="post-content">
                                <h2 class="post-title">
                                    {{ post.title }}
                                </h2>

                                <p>{{ post.content | markdownify | strip_html | truncate: 200 }}</p>
                                <a href="{{ post.url | relative_url }}">Read More</a>
                                <hr />
                                <sub><strong>Posted On: </strong>{{ post.date }}</sub>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br />
            <br />
        </div>
        {% endfor %}
    </div>
</div>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>