---
layout: default
bodyClass: "page-post"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h4 class="title">{{page.title}}</h4>
                <sub><em><b>{{page.date}}</b></em></sub>
                <br />
                <br />
                <div class="content">{{content}}</div>
                <div class="content" style="text-align:right">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!--<div class="content" style="text-align:right">
                    <a href="/posts" data-show-count="false">Back</a>
                </div>-->
            </div>
        </div>

    </div>
    <div class="content" style="text-align:right">
        <a href="/posts" data-show-count="false">Back</a>
    </div>
</div>