---
layout: default
bodyClass: "page-posts"
---

<div class="container">
    <div class="row">
        <div class="content">{{content}}</div>
    </div>
</div>

<div class="container" >
    <div class="row" style="position: relative;float:right;" >
        <a  href="../blog/feed.xml">RSS<img src="../images/rss/rss-svgrepo-com.svg" alt=""></a>
    </div>
</div>



<style>
    .collapsible {
        background-color: rgb(237, 193, 22);
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .contentHidden {
        padding: 0 18px;
        display: none;
        overflow: hidden;
    }
</style>

<script>
    function search(inputTextBox) {
        debugger;

        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById(inputTextBox.id);
        filter = input.value.toUpperCase();
        ul = document.getElementById("ul_" + inputTextBox.id);


        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("h2")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

<div class="container pt-6 pb-6">
    <div class="row">

        {% assign postsByTags = site.posts | group_by:"tag" | sort: "name" %}
        {% for postByTag in postsByTags %}
        <div class="post-content" style="width:100%">
            <button style="width:100%" type="button" class="collapsible">
                {{postByTag.name}}
            </button>
            <div id="id{{postByTag.name}}" class="contentHidden">

                <br />
                <input style="width:30%;float:right" type="text" id="{{postByTag.name}}" onkeyup="search(this)" placeholder="Search for posts inside {{postByTag.name}}"/>
                <br />

                <br />
                <ul id="ul_{{postByTag.name}}" class="row">
                    {% assign posts = postByTag.items | sort:"date" | reverse %}
                    {% for post in posts %}
                    <li class="post-content">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>

                        <p>{{ post.content | markdownify | strip_html | truncate: 200 }}</p>
                        <a href="{{ post.url | relative_url }}">Read More</a>
                        <hr />
                        <sub><strong>Posted On: </strong>{{ post.date }}</sub>

                        <br />
                        <br />

                    </li>

                    {% endfor %}
                </ul>
            </div>
            <br />
            <br />
        </div>
        {% endfor %}
    </div>



    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
