---
layout: default
bodyClass: "page-services"
---

<div class="container" style="align-content: center;">
    {% if page.intro_image %}
    <div class="row">
      <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
    </div>
    {% endif %}
</div>

<div class="container">
  <div class="row">
    <div class="content">{{content}}</div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% assign weighted_services = site.services | sort: "weight" %}
    {% for service in weighted_services %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
          </h2>
        
          <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
